nav {
    width: 100%;
    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.35rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    cursor: default;
    transition: background-color 0.3s ease;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 0.85rem;
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'Helvetica Neue', Arial, sans-serif;

    &.scrolling {
        background-color: rgba(100, 100, 100, 0.7);
    }

    .active-window p {
        font-weight: 700;
        color: white;
    }

    .left,
    .right {
        display: flex;
        gap: 1.25rem;
        align-items: center;
    }
}
